{% load static %}
<!DOCTYPE html>
<html>
    <head><title>animes link</title>
        <link href = "{%static 'websitelinks/wrapper.css'%}" rel = 'stylesheet'>
        <link href = "{%static 'websitelinks/styley.css'%}" rel = 'stylesheet'> 
        <script>
            document.addEventListener('DOMContentLoaded', function() {
          //  let web = ('<li>{{animeweb}}</li>')
            const list = document.getElementById("found")
             let iframe =('(<a href = "{% url 'animessearch'%}"> animessearch</a>)')
                document.querySelector('#go').onclick = function() {
                    ('iframe')
                    document.querySelector('h2').innerHTML = iframe
                }
        
                 
               // const gombok=document.getElementsByTagName('button')
             //  const found = document.querySelector('#bate')
               const deel = document.querySelector('#found')
             //  console.log('muuuuu', found)
               var view1 = document.getElementsByClassName('fir_st');
               var view2 = document.getElementsByClassName('sec_ond'); 

                 //changing button properties onmouseover

      document.querySelector('#found').onmouseover = function() {
      for (var i=0; i<view1.length; i++) {
      if(view1[i].style.display == 'none') {
                  // do some stuff
       view1[i].style.display = 'block'
      }
        else{
                 // do some stuff
               view1[i].style.display = 'block'
            }
     } 

      for (var i=0; i<view2.length; i++) {
      if(view2[i].style.display == 'none'){
                // do some stuff
         view2[i].style.display = 'block'
      }
       else{
               // do some stuff
             view2[i].style.display = 'block'
           }
       } 
    }
     //changing button properties onmouseout
     
     document.querySelector('#found').onmouseout = function() {
      for (var i=0; i<view1.length; i++) {
      if(view1[i].style.display == 'block'){
       // do some stuff
         view1[i].style.display = 'none'
         }
           else{
                   // do some stuff
                 view1[i].style.display = 'none'
              }
       } 

      for (var i=0; i<view2.length; i++) {
      if(view2[i].style.display == 'block'){
                // do some stuff
         view2[i].style.visibility = 'none'
      }
       else{
               // do some stuff
             view2[i].style.visibility = 'none'
           }
       } 
    }

    // document.querySelector('#found').onclick = function() {
    //  if (event.target.className =='fir_st') {
    //    console.log('cheeeel')
      //  let pLI = event.target.parentElement
      //  console.log('hi', pLI )
      // pLI.parentNode.remove(pLI)
      // pLI.parentNode.style.display = 'none'
       
     // }

     // if (event.target.className =='sec_ond') {
     //   var changename = prompt("Please enter website name"); 
   // let pLI = event.target.parentElement.childNodes[1]
 //   pii = event.target.parentNode.firstChild
  //  pii.innerHTML = changename
  //  console.log('pLI', pii.parentElement)

   // }
   //  }
    
          
                // localStorage.clear();
                 // localStorage.removeItem('got')
                pLiget = localStorage.getItem('file')
                if(pLiget != null){
                    localStorage.setItem(localStorage.length, pLiget)
                    localStorage.removeItem('file')

                }
                   for ( var i = 0; i < localStorage.length; ++i ) { 
                   //  console.log(localStorage.key(i)+":"+ localStorage.getItem(localStorage.key(i)));
                   keyvalue = localStorage.key(i)+":"+ localStorage.getItem(localStorage.key(i))
                   key  = localStorage.key(i)//+":"+
                   //key = keyvalue[0]
                   keya = []
                  
                   if (!(key in keya) ){
                    keya.push(key)
                    key = keya
                    keya.sort((a, b) => a - b);
                   }
                   console.log('keyaa', keya)
                 

                   actual = localStorage.getItem(localStorage.key(i))
                   
                  // c = document.createElement('p')
                  // c.innerHTML = actual
                  
                  // localStorage.setItem(localStorage.length, actual)
                   console.log(keyvalue)
                   console.log('rrrrrrr', key)
                   console.log('ammmmm',  actual )
                   console.log(keyvalue)
                 
                    bee = []
                    bee.push(actual)
                    bee.sort((a, b) => a - b);
                    console.log(bee)
                   for(x in bee){
                   var k = document.createElement('p')
                   k.id = 'per'
                   var node = bee[x]
                   console.log(node)
                   k.innerHTML = node
                   console.log('yhissss',k)
                   inside = document.querySelector('#found li')
                   const liElements = Array.from(inside);
                   console.log('insideiii', liElements)
                   liElements.sort((li1,li2) => li1.textContent.localeCompare(li2.textContent));

                   inside.appendChild(k)

                  // document.querySelector('#found li').appendChild(k)
                  
                  
                   } 
                   document.querySelector('#found').onclick = function() {
                   if (event.target.className =='fir_st') {
                        console.log('cheeeel')
                        let pLI = event.target.parentElement
                        // figure = event.target.parentNode
                        console.log('hi', pLI )
                     //  document.querySelector('#found li').parentNode.removeChild(pLI)
       
                        // remove(pLI)
                      //  pLI.parentNode.remove(pLI)
                       // pLI.parentNode.style.display = 'none'
                        //inside = document.getElementById('per')
                        //  for(var i= 0; i<pLI.length; i++){
                        //if(pLI == k(i)){
                       //  console.log('INSIDE', k(i) )
                        // }
       
                         //   }
                         //document.querySelector('#found li').removeChild(k.innerHTML)
                        //localStorage.setItem('remove', pLI.length)
                          //localStorage.removeItem('1')
                       //console.log('wwwwoooo', inside)
                       // localStorage.remove(pLiget)
                       const re = pLI;

                        Object.values(localStorage).forEach(function (value) {
                        if (value.match(re)) {
                        //do something
                        console.log ('payyyyy', keya)
                        localStorage.removeItem(keya)
                      //  window.location.href = "{%url 'animes'%}"
                        }
                        });

                      }

                     if (event.target.className =='sec_ond') {
                      pLI = event.target.parentElement
                      if(keyvalue.match(pLI)){
                      console.log('thattta', keyvalue)
                    }
                     var changename = prompt("Please enter website name"); 
                     window.location.href = "{%url 'animes'%}"
                     //do something
                    
                     
                    
                                  

                     
                    //  pii = event.target.parentNode.firstChild
                    // pal = pLI.parentNode.firstChild
                    //  pii.innerHTML = changename
                   //   console.log('piiiiiiiiiiiiiiii', pii)
                    //  console.log('wooooo',pLI)
                      
                    //  localStorage.setItem(key, pLI.outerHTML)
                    // localStorage.removeItem(key)
                    //   get = localStorage.getItem(k)
                    //   console.log('geet', get)
                   //  pLI.innerHTML = changename
                     
                    // localStorage.setItem('new', pii)
                     //pget = localStorage.getItem('new')
                     //console.log('piiii',pget)
                    
                      //  window.location.href = "{%url 'animes'%}"
                     
                    
                    
                    // console.log('pLI', pal)
                    // console.log('cgamjejnwjw',pii)
                      

                    }
                 }
                
                   //localStorage.clear();

                   }
                   
                    //console.log(localStorage.key(i)+":"+ localStorage.getItem(localStorage.key(i))); }
                    
                  
            })
        </script>
    
    </head>
    <body> 
        <div class="wrapper">
            <div class="left">
            <h1>links to free Animes download websites</h1>
            <ul id="found">
                <li > 
                  <a href="https://gogoanime.pe/">gogoanime.pe</a>
                  <!-- {{animeweb}}   -->
                  
                </li>
            </ul>
            <a href="{% url 'websites'%}">WEBSITES</a>
            </div>
            <div class="right">
                <h3>links from Google</h3>
                <button id="go"><h2>get</h2>
                </button>
              <!-- <iframe id="welcome" src="./music.html" frameborder="1" width="900" height="500"></iframe>-->
            </div>
        </div>
    </body>
</html>