{%load static%}
<!--Begin: Star-Clicks.com HTML Code--><script type='text/javascript' src='https://www.star-clicks.com/secure/ads.php?pid=57216102451087122'></script><!-- End: Star-Clicks.com -->
<!DOCTYPE html>
<html>
    <head>
        <title>getlinks</title>
        <link href = "{%static 'websitelinks/style.css'%}" rel = 'stylesheet'>
    </head>
   
    <body>
        <h1>welcome to getlinks!</h1>
        <h2>getlinks provide links to freedownload websites on the internet</h2>
        <ul>

          <li><a href = "{%url 'movies'%}"> movies</a></li>
            <li><a href = "{%url 'music'%}"> music</a></li>
           <li><a href = "{%url 'games'%}">games</a></li>
            <li><a href = "{%url 'images'%}">images</a></li>
            <li><a href = "{%url 'animes'%}">animes</a></li>
           
        </ul>
    </body>
</html>