.wrapper{
    display: flex;
}

.wrapper .left,
.wrapper .right {
      width:50%;
      height:100vh; 
}

.wrapper .left {
      background:red;         
}

.wrapper .right {
      background:yellow;
}

.wrapper .left  #found li{
      background: green;
  }
  

